footer.footer
	.container.footer__container
		.footer__wrapper
			a.footer__logo-orion(href='#', target='_blank')
				+icon('logo-orion-2')
			.footer__right
				.footer__contacts
					a.footer__contacts-link(href='tel:+74992819003') +7 (499) 281-90-03
					a.footer__contacts-link(href='mailto:info@orionsoft.ru') info@orionsoft.ru
				ul.footer__socials
					li
						a.footer__socials-icon(href='#')
							+icon('socials-telegram')(width='27', height='28')
					li
						a.footer__socials-icon(href='#')
							+icon('socials-youtube')(width='27', height='28')
					li
						a.footer__socials-icon(href='#')
							+icon('socials-rutube')(width='28', height='28')
					li
						a.footer__socials-icon(href='#')
							+icon('socials-habr')(width='27', height='28')
