header.header
	.container.container--small.header__container
		a.header__logo-orion(href='#', target='_blank')
			+icon('logo-orion')
		a.header__logo-cnews(href='#', target='_blank')
			+icon('logo-cnews')
