.container {
	max-width: 1320px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;

	@include max(ti) {
		padding: 0 30px;
	}

	&--small {
		max-width: 1174px;
	}

	&--medium {
		max-width: 1270px;
	}
}
