.footer {
	$parent: &;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 36px 23px 48px;
		border-top: 1px solid $color-divider;

		@include max(t) {
			flex-direction: column;
			align-items: flex-start;
			gap: 17px;
			padding: 34px 0 43px;
		}
	}

	&__logo-orion {
		&:hover svg {
			opacity: 0.7;
		}

		svg {
			width: 87px;
			height: 54px;
			transition: 0.3s ease;

			@include max(t) {
				width: 78px;
				height: 48px;
			}

			@include max(t) {
				width: 58px;
				height: 36px;
			}
		}
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 168px;

		@include max(tl) {
			gap: 50px;
		}

		@include max(ti) {
			flex-direction: column;
			align-items: flex-end;
			gap: 20px;
		}

		@include max(t) {
			align-items: flex-start;
		}
	}

	&__contacts {
		display: flex;
		align-items: center;
		gap: 80px;

		@include max(tl) {
			gap: 35px;
		}

		@include max(t) {
			flex-direction: column-reverse;
			align-items: flex-start;
			gap: 10px;
		}
	}

	&__contacts-link {
		font-size: 13px;
		transition: 0.3s ease;

		&:hover {
			opacity: 0.7;
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__socials-icon {
		&:hover svg {
			opacity: 0.7;
		}

		svg {
			transition: 0.3s ease;
		}
	}
}
