.footer {
	$parent: &;

	&--tracks {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;

		@include max(ti) {
			display: none;
		}

		#{$parent} {
			&__container {
				display: flex;
				justify-content: center;
			}

			&__test {
				display: flex;
				align-items: center;
				gap: 8px;
				background-color: $color-border;
				padding: 18px 26px;
				clip-path: polygon(0 15px, 17px 0, calc(100% - 17px) 0, 100% 15px, 100% 100%, 0 100%);
				font-family: $secondFont;
				font-size: 17px;
				transition: 0.3s ease;

				&:hover {
					background-color: rgba($color-border, 0.7);
				}
			}

			&__nav {
				position: relative;
				width: 100%;
				padding: 30px 0;

				&::before {
					content: "";
					position: absolute;
					inset: 0;
					background: linear-gradient(0, rgba(13, 14, 25, 1) 0%, rgba(29, 31, 47, 1) 100%);
					opacity: 0.8;
				}
			}

			&__links {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 20px;
				max-width: 912px;
				width: 100%;
			}

			&__link {
				display: flex;
				align-items: center;
				gap: 12px;
				font-family: $secondFont;
				font-size: 24px;
				transition: 0.3s ease;

				&:hover {
					opacity: 0.7;
				}

				svg {
					fill: $white;
					stroke: $white;
				}

				&--active {
					span {
						color: $color-main;
					}

					svg {
						fill: $color-main;
						stroke: $color-main;
					}
				}
			}
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 36px 23px 48px;
		border-top: 1px solid $color-divider;

		@include max(t) {
			flex-direction: column;
			align-items: flex-start;
			gap: 17px;
			padding: 34px 0 43px;
		}
	}

	&__logo-orion {
		&:hover svg {
			opacity: 0.7;
		}

		svg {
			width: 87px;
			height: 54px;
			transition: 0.3s ease;

			@include max(t) {
				width: 78px;
				height: 48px;
			}

			@include max(t) {
				width: 58px;
				height: 36px;
			}
		}
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 168px;

		@include max(tl) {
			gap: 50px;
		}

		@include max(ti) {
			flex-direction: column;
			align-items: flex-end;
			gap: 20px;
		}

		@include max(t) {
			align-items: flex-start;
		}
	}

	&__contacts {
		display: flex;
		align-items: center;
		gap: 80px;

		@include max(tl) {
			gap: 35px;
		}

		@include max(t) {
			flex-direction: column-reverse;
			align-items: flex-start;
			gap: 10px;
		}
	}

	&__contacts-link {
		font-size: 13px;
		transition: 0.3s ease;

		&:hover {
			opacity: 0.7;
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__socials-icon {
		&:hover svg {
			opacity: 0.7;
		}

		svg {
			transition: 0.3s ease;
		}
	}
}
