*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-family: $mainFont;
	background-color: $color-background;
	color: $color-text;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;

	/* iOS fix */
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-locale: auto;
	white-space: normal;

	&[data-load] {
		.header {
			transform: translateY(-100%);
		}

		.hero__title,
		.hero__angle {
			opacity: 0;
		}
	}
}

main {
	position: relative;
	z-index: 1;
}

section {
	transition: opacity 1s ease;
}

a {
	color: $color-text;
	text-decoration: none;
}

svg {
	width: auto;
	height: auto;
}

img {
	display: block;
	max-width: 100%;
}

input,
button {
	-webkit-appearance: none;
}

input,
button,
select,
textarea {
	font: inherit;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	outline: 0;
}

input,
textarea {
	padding: 0;
	margin: 0;

	&:focus::placeholder {
		opacity: 0;
	}
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

[data-hidden] {
	display: none !important;
}

.d-none-desktop {
	display: none !important;

	@include max(ti) {
		display: block !important;
	}
}

.d-none-mobile {
	display: block !important;

	@include max(ti) {
		display: none !important;
	}
}

.d-none-desktop-flex {
	display: none !important;

	@include max(ti) {
		display: flex !important;
	}
}

.d-none-mobile-flex {
	display: flex !important;

	@include max(ti) {
		display: none !important;
	}
}

.hide {
	opacity: 0 !important;
}

/* Mobile-menu */
[data-state="mobile-menu"] {
	overflow: hidden;

	.menu {
		transform: translateX(0);
		transition: 0.4s ease 0.3s;
	}

	.header--tracks .header__burger {
		span {
			&::before {
				top: -7px;
			}

			&::after {
				bottom: -7px;
			}
		}
	}
}

/* When hystmodal opened */
.hystmodal__opened .header {
	transform: translateY(-100%);
}

/* Swiper */
.swiper-nav {
	position: absolute;
	top: 50%;
	left: 80px;
	right: 80px;
	z-index: 6;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	pointer-events: none;

	@include max(d) {
		left: 30px;
		right: 30px;
	}

	@include max(tl) {
		left: 0;
		right: 0;
	}

	@include max(ti) {
		left: -20px;
		right: -20px;
	}

	.swiper-btn-prev,
	.swiper-btn-next {
		position: relative;
		cursor: pointer;
		pointer-events: auto;

		&:hover svg {
			color: $color-main;
		}

		svg {
			width: 24px;
			height: 44px;
			color: $color-text;
			transition: 0.3s ease;

			@include max(ti) {
				width: 11px;
				height: 20px;
				color: $color-main;
			}
		}
	}
}

.swiper-pagination {
	position: relative;
	z-index: 3;
	display: none;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-top: 20px;

	@include max(ti) {
		display: flex;
	}

	&-bullet {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 6px;
		height: 6px;
		background: $color-divider;
		opacity: 1;
		border-radius: 50%;
		cursor: pointer;
		transition: 0.3s ease;

		&:hover {
			background-color: $color-main;

			svg {
				color: $white;
			}
		}

		&-active {
			background-color: $color-main;
			transform: scale(1.5);
		}
	}
}

/* Adv mark article */
.token-mark-block {
	position: relative;
	z-index: 20;
	display: block;
    max-width: 1288px;
    width: 100%;
    padding: 0 20px;
    margin: 30px auto 0;
    box-sizing: border-box;
}

.article-mark {
	&:hover + .token-info {
		opacity: 1;
		pointer-events: auto;
	}
}

.token-info {
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 270px;
	border: 2px solid $white;
	background: rgba($color-main, 0.7);
	backdrop-filter: blur(11px);
	border-radius: 2px;
	padding: 20px 10px;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s ease;
}

.token-info-item {
	display: block;
	color: $white;
	font-size: 12px;
	line-height: 1.2;

	a {
		color: $white;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
