/* Breakpoints */
$media-list: (
	'm': 0,
	't': 575,
	'ti': 767,
	'tl': 991,
	'd': 1279,
	'dl': 1439,
	'dxl': 1679,
);

/* Fonts */
$mainFont: 'IBM Plex Sans', sans-serif;
$secondFont: 'Inter', sans-serif;
$thirdFont: 'TTOctosquares', sans-serif;

/* Colors */
$black: #000000;
$white: #ffffff;
$color-background: #0d0e19;
$color-main: #55dd81;
$color-text: #e8f1fb;
$color-description: #d3d3d3;
$color-border: #1a954a;
$color-divider: #313349;
